# Created by .ignore support plugin (hsz.mobi)
/logs/
/build/
/.idea/
aas-ams-client/libs
aas-ams-client/out
aas-eureka-client/build
aas-eureka-server/build
out
aas-ams-client/build
.config.cache
/aas-dubbo-server/build/
/aas-dubbo-client/build/
